@tailwind base;
@tailwind components;
@tailwind utilities;


.container-box {
    border-width: 8px;
    border-top-color: white;
    border-left-color: white;
    border-bottom-color: black;
    border-right-color: black;
    background-color: rgb(203 213 225);
}

.timein-box {
    border-width: 4px;
    border-top-color: white;
    border-left-color: white;
    border-bottom-color: black;
    border-right-color: black;
    background-color: rgb(187 247 208);
}

.timeout-box {
    border-width: 4px;
    border-top-color: white;
    border-left-color: white;
    border-bottom-color: black;
    border-right-color: black;
    background-color: rgb(254 202 202);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    border-radius: 0.5rem
}

.modal-main {
    position:fixed;
    width: fit-content;
    height: auto;
    top:50%;
    left:50%;
    right: 50%;
    transform: translate(-50%,-50%);
    overflow-x: auto;
    border: 2px solid black;
    border-radius: 0.5rem
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}